@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1717253289351") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e60b";
}

.icon-chexiao:before {
  content: "\e637";
}

.icon-huifu:before {
  content: "\e638";
}

.icon-rubber:before {
  content: "\ea15";
}
