.nutui-react-demo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  height: 100%;

  .navbar {
    height: 15vw;
    width: 100vw;
    background-color: #000000;
    color: white;
    --nutui-navbar-title-font-color: white;
    margin-bottom: 0 !important;
  }

  .imgScroll {
    flex: 1;
    overflow: auto;

    .imgList {
      width: 100vw;
      background-color: #ffffff;
      border: 0;

    }

  }
}